html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 100%;
    background: #F5F5F5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper a {
    color: #ff2e4e;
}

.main {
    background: #FFF;
    overflow: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
    display: block;
}

.header .wrapper{
    padding: 0 20px;
}
    
.header a {
    display: block;
    width: 25px;
    height: 25px;
    text-indent:-10000px;
    margin: 0 15px 0 0;
    float: left;
}

.header a.bilibili {
    background: url(./bilibili.png)center no-repeat;
    background-size: 25px 25px;    
}
    
.header a.weibo {
    background: url(./weibo.png)center no-repeat;
    background-size: 25px 25px;    
}
    
.header a.zhihu {
    background: url(./zhihu.png)center no-repeat;
    background-size: 25px 25px;    
}

.header a.xiaohongshu {
    background: url(./xiaohongshu.png)center no-repeat;
    background-size: 25px 25px;    
}

.info {
    text-align: center;
    padding: 100px 0;
}

.info .icon {
    width: 85px;
    height: 85px;
    background: url(./icon.jpeg)center no-repeat;
    background-size: 80px 80px;    
    margin: auto;
}

.info .logo {
    width: 150px;
    margin-top: 60px;
}

.videoPreview {
    display: none;
}

.content {
    display: block;
    width: 100%;
    margin: 30px 0;
    position: relative;
    float: none;
}

.footer {
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}

.footer a:link, .footer a:visited {
    color: #000;
    margin: 0 15px 0 0;
}

.footer a:hover {
    color: #FF2E4E;
}

.footer .copyright {
    margin: 20px;
    color: #999;
}

@media screen and (min-width:960px) {
    body {
        font-size: 13px;
        animation: onload 1.5s;
    }
    
    .main {
        background: #FFF;
        overflow: auto;
    }
    
    .wrapper {
        max-width: 960px;
        margin: auto;
        padding: 0 20px;
        overflow: auto;
    }

    .info {
        float: left;
        padding-top: 250px;
    }
    
    .info .icon {
        float: left;
        clear: both;
    }

    .info .logo {
        width: 150px;
        float: left;
        clear: both;
    }

    .info .content {
        float: left;
        clear: both;
    }
    
    .videoPreview {
        display: block;
        width: 600px;
        height: 400px;
        margin: 150px 0;
        background: url(./preview.jpg)center no-repeat;
        background-size: cover;
        position: relative;
        float: right;
    }

    .videoPreview video {
        display: block;
        position: absolute;
        width: 480px;
        height: 300px;
        left: 60px;
        top: 15px;
    }
    
    .content {
        display: block;
        width: 700px;
        margin: 150px 0;
        position: relative;
        float: right;
    }
    
    .footer .links {
        float: left;
    }

    .footer .copyright {
        float: right;
        margin: 0;
    }
}
