/* 隐藏 Chrome、Safari 和 Opera 的滚动条 */
html::-webkit-scrollbar , body::-webkit-scrollbar , div::-webkit-scrollbar {
  display: none;
}

/* 隐藏 IE、Edge 和 Firefox 的滚动条 */
html, body, div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: SF Pro SC,-apple-system,-apple-system-font,Helvetica Neue,Helvetica,Verdana,Arial,sans-serif;
    font-size: 100%;
    background: #f5f5f7;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
	font-size: 36px;
	color: #2a2e2e;
	letter-spacing: 0;
	text-align: left;
	line-height: 44px;
	font-weight: 700;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
	font-size: 32px;
	color: #2a2e2e;
	letter-spacing: 0;
	text-align: left;
	line-height: 40px;
	font-weight: 700;
	margin: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h3 {
	font-size: 28px;
	color: #2a2e2e;
	letter-spacing: 0;
	text-align: left;
	line-height: 36px;
	font-weight: 600;
	margin: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h4 {
	font-size: 24px;
	color: #2A2E2E;
	letter-spacing: 0;
	text-align: left;
	line-height: 32px;
	font-weight: 500;
	margin: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h5 {
	font-size: 20px;
	color: #2A2E2E;
	letter-spacing: 0;
	text-align: left;
	line-height: 28px;
	font-weight: 400;
	margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h6 {
	font-size: 18px;
	color: #2A2E2E;
	letter-spacing: 0;
	text-align: left;
	line-height: 24px;
	font-weight: 300;
	margin: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
p {
	font-size: 16px;
	color: #5F6464;
	letter-spacing: 0;
	text-align: left;
	line-height: 2em;
	margin-bottom: .823em;
	margin-top: 0;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.wrapper a {
    color: #ff2e4e;
}

.header {
    padding: 15px;
    display: block;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgb(6 11 26 / 5%);
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
	background-color: #fff;
}

.header-left{
    display: block;
	float: left;
	text-align: left;
}

.header-left ul li{
    display: inline-block;
}
	
.header-left a {
    display: block;
    width: 30px;
    text-indent: -10000px;
    line-height: 50px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.95;
    transition: all 0.3s;
}

.header-left a.home {
    background: url(./icon-home.png)center no-repeat;
    background-size: 25px 25px;    
}

.header-left a.blog {
    background: url(./icon-blog.png)center no-repeat;
    background-size: 20px 20px;    
}

.header-left a.vlog {
    background: url(./icon-vlog.png)center no-repeat;
    background-size: 25px 25px;    
}

.header-left a:hover {
    background-size: 30px 30px;    
}

.header-right{
	display: block;
	float: right;
    text-align: right;
}

.header-right ul li{
    display: inline-block;
}

.header-right a {
    display: block;
    height: 50px;
    margin-left: 30px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.95;
    -webkit-transition: color 0.3s linear;
}

.header-right a:link, .header-right a:visited {
    color: #999;
}

.header-right a:hover {
    color: #FF2E4E;
}
.nav-chapter {
	background: #fff;
	margin-top: 5px;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
}
.nav-chapter-items{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 20px;
}
.nav-chapter-icon {
	width: 55px;
	height: 55px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	opacity: 0.8;
	transition: all 0.5s;
}
.nav-chapter-icon-01 {
	background-image: url(./chapternav-icon-01.png);
}
.nav-chapter-icon-02 {
	background-image: url(./chapternav-icon-02.png);
}
.nav-chapter-icon-03 {
	background-image: url(./chapternav-icon-03.png);
}
.nav-chapter-icon-04 {
	background-image: url(./chapternav-icon-04.png);
}
.nav-chapter-icon-05 {
	background-image: url(./chapternav-icon-05.png);
}
.nav-chapter-items:hover .nav-chapter-icon {
	background-size: 55px 55px;
}
.nav-chapter-label {
	font-size: 12px;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: 0;
	display: block;
	margin: 0;
}
.nav-text {
	padding-top: .94118em;
	padding-bottom: .94118em;
	animation: ribbon-drop 0.8s cubic-bezier(0.42, 0, 0.58, 1) forwards;
	background-color: #f5f5f7;
}
.nav-text p {
	font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 14px;
	letter-spacing: 0em;
	line-height: 1.33337;
	font-weight: 400;
}
.nav-img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #f5f5f7;
}
.nav-img div {
	min-height: 500px;
}
.main {
    padding: 15px;
    box-shadow: 0 10px 20px 0 rgb(6 11 26 / 5%);
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
	background-color: #fff;
}

.info {
    padding: 100px 0;
}

.info .icon {
    width: 150px;
    height: 150px;
    margin: auto;
    background: url(./favicon.jpg)center no-repeat;
    background-size: 150px 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 6px 6px 15px 0 rgb(136 167 225 / 10%), -6px -6px 15px 0 #fff;
    transition: all 0.2s;
}

.info .icon:hover {
	background-size: 160px 160px;
	box-shadow: 10px 10px 20px 0 rgb(136 167 225 / 15%), -6px -6px 15px 0 #fff;
}

.info p {
	text-align: center;
	font-size: 24px;
	font-weight: 100;
	color: #999;
	letter-spacing: 0;
	margin: 15px 0;
	transition: all 0.2s;
}

.info p:hover {
	font-size: 25px;
}

.videoPreview {
    display: none;
}

.content-list-item {
	padding: 1rem;
	flex-direction: row;
	margin-bottom: 1rem;
	position: relative;
	display: flex;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: var(--shadow-1);
	transition: all .3s ease-in-out;
}
.content-list-item:hover {
	transform: scale(1.01);
}
.content-list-item-media {
	margin-right: 1rem;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0;
	flex-shrink: 0;
	border-radius: inherit;
}
.content-list-item-media div{
	background-size: 100% 100% !important;
    width: 130px;
    height: 130px;
}
.content-list-item-text h2 {
	font-size: 20px;
	line-height: 2rem;
	width: 100%;
	height: 2rem;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.content-list-item-text p {
	font-size: 16px;
    line-height: 1.5em;
    margin-bottom: .823em;
    margin-top: 0;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
    height: 3rem;
    overflow: hidden;
}
.content-list-item-text span {
	font-size: 12px;
	line-height: 1rem;
	color: #999;
	font-style: italic;
	margin: 0;
	padding: 0;
}
.content-blog img {
	width: 100%;
	height: auto;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 10px;
	box-shadow: 0 12px 28px 0 rgb(27 26 49/1%), 0 5px 10px 0 rgb(27 26 49/3%);
	transition: all .3s ease-in-out;
}
.content-blog h2 {
	position: relative;
	padding: 1.25rem 0 0;
}
.content-blog h2::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 5px;
	border-radius: 10px;
	left: 0;
	top: 0;
	z-index: 1;
	background-image: linear-gradient(to right,#3858f6,#6e86ff,#8068ff,#3858f6);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
}
.content-blog p {
	margin: 0 0 1rem;
}
.work-skills-content {
	
}
.work-skills-text-box {
	margin-left: 55px;
	font-style: italic;
}
.work-skills-card-box {

}
.work-skills-card-box-content {
	display: inline-block;
	width: 25%;
	padding: 15px;
	margin: 0 5px;
	word-wrap: break-word;
	border: 2px solid #fff;
	border-radius: 20px;
	background-image: linear-gradient(0deg, #fff, #f4f4f5);
	box-shadow: 8px 8px 20px 0 rgb(240 240 240 / 80%), -8px -8px 20px 0 #fff;
}
.work-skills-card-box-img {

}
.work-skills-card-box-img img {
	width: 100%;
}
.work-skills-card-box-p {
	
}

.footer {
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}

.footer .links {
    margin: 15px 0;
}

.footer a:link, .footer a:visited {
    color: #999;
}

.footer a:hover {
    color: #FF2E4E;
}

.footer .copyright {
    margin: 15px 0;
    color: #999;
}

@media screen and (min-width:960px) {
    
    .wrapper {
        max-width: 960px;
        margin: auto;
        padding: 0 20px;
        overflow: auto;
    }

    .info {
        float: left;
    }

    .info .content {
        float: left;
        clear: both;
    }
    
    .videoPreview {
		position: relative;
		float: right;
		margin: 80px 0;
        display: block;
        width: 600px;
        height: 400px;
        background: url(./index.png)center no-repeat;
        background-size: cover;
    }

    .videoPreview video {
        display: block;
        position: absolute;
        width: 480px;
        height: 300px;
        left: 60px;
        top: 15px;
    }
    
    .footer .links {
        float: left;
    }

    .footer .copyright {
        float: right;
    }
}
